.meatballMenu {
  max-width: fit-content;
  .meatballButton:hover {
    cursor: pointer;
  }
  li {
    list-style-type: none;
  }
  li:hover {
    background-color: lightblue;
    cursor: pointer;
  }
}
