// Background colors
$background-color-primary: blue;
$background-color-secondary: rgb(134, 134, 212);

$background-color-button-primary: rgb(105, 105, 213);

// Colors
$color-secondary: rgb(255, 255, 255);

$search-btn-primary: #006489;
$search-btn-secondary: #03c5e3;
