@import "../colors";

.search-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        position: relative;
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: $search-btn-secondary;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid $search-btn-secondary;
        padding: 5px;

        .search-input {
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            outline: 0;
            border: 0;
            display: none;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
            background: $search-btn-secondary;
            color: $search-btn-primary;

            &[type="search"]::-webkit-search-cancel-button {
                display: none;
            }

            &::placeholder {
                color: $search-btn-primary;
            }
        
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 10px;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            color: $search-btn-primary;
            font-size: 1.2em;
            transition: all 1s;

            svg {
                width: 20px;
                height: 20px;
            }

            path {
                stroke: $search-btn-primary;
            }
        }

        &:hover {
            width: 200px;
            cursor: pointer;

            .search-input {
                display: block;
            }

            .btn {
                background: $search-btn-primary;
                color: $search-btn-secondary;
            }

            .btn path {
                stroke: $search-btn-secondary;
            }
        }
    }
}

